
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Raleway:wght@500;700;800&display=swap');


body {
    background-color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* Nav bar styling */
.navbar-brand {
    display: flex;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 4rem;
    line-height: inherit;
    white-space: nowrap;
    color:#37343d;
    
}

.navbar-brand:hover {
    color: #5983ff;
}
.nav-link {
    display: inline-flex;
    justify-items: flex-end;
    padding: .5rem 1rem;
    font-size: 2rem;

}
.nav-link:hover {
    text-decoration: none;
    color: #5983ff;
}

a {
    color: #37343d;
    font-size: 2rem;
    text-decoration: none;
    background-color: transparent;
    font-family: "Quicksand";
}

.bold-text {
    font-weight: 600;
}
/* Hero image home styling */

.hero-image-home {
    background-image: url("../images/hero-image-aloy.jpg");
    background-color: #eae8e5; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
   
}
/* Hero image contact styling */

.hero-image-contact {
    background-image: url("/assets/images/aloy-stormbird.jpg");
    background-color: #eae8e5; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* Hero image protagonists styling */

.hero-image-protagonists {
    background-image: url("../images/hero-image-prota.png");
    background-color: #eae8e5; 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;

}


/* Jumbotrons styling */
.jumbotron-hero-home  {
    
    border: 1px solid #37343d;
    border-radius: 10px;
    background: rgba(234,232,229,0.4);
    padding: 0px;
    width: 30%;
    height: fit-content;
    justify-content: center;
    position: absolute;
    bottom: 80px;
    top: 100px;
    right: 25px;
}
    
.jumbotron-protagonists  {
    
    border: 1px solid #37343d;
    border-radius: 10px;
    background: rgba(234,232,229,0.4);
    padding: 0px;
    width: 30%;
    height: fit-content;
    justify-content: center;
    position: absolute;
}
  

.display-4 {
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 1.2;
}

/* Styling for paragraphs and texts */
      
p {
    
    font-size: 1em;
    
}


.aloy-section-text {
    border: 1px #37343d;
    border-radius: 10px;

}


h3 {
    font-family: "Quicksand";
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

/* Images styling */

/* box-shadow taken from: https://www.w3schools.com/css/css3_shadows_box.asp*/
img {
    vertical-align: middle;
    border: 1px solid #37343d;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #37343d;
}


/* Progress bars */

.progress-bar {
    background-color: #5983ff;
}

/* Button styling */

.btn-primary {
    color: #fff;
    background-color: #5983ff;
    border-color: #5983ff;
}

/* Form on contact page */

.form-bg {
    background-color: #eae8e5; 

}