.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 30px;
    line-height: inherit;
    white-space: nowrap;
}

a {
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    background-color: transparent;
}