@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap');

body {
    background-color: #fff;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 50px;
    line-height: inherit;
    white-space: nowrap;
    color:#37343d;
    
}

.navbar-brand:hover {
    color: #5983ff;
}
.nav-link {
    display: inline-flex;
    justify-items: flex-end;
    padding: .5rem 1rem;
}

a {
    color: #37343d;
    font-size: 25px;
    text-decoration: none;
    background-color: transparent;
    font-family: "Quicksand";
}
.nav-link:hover {
    text-decoration: none;
    color: #5983ff;
}

.hero-image {
    background-image: url("../images/hero-image-aloy.jpg");
    background-color: #cccccc; 
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
   
}

.hero-image-text p {
    color: #fff;
    font-family: "Raleway", sans-serif;
}

.hr {
    border: 1px solid #37343d;
    margin: 1px 1px 1px 1px; 

}
.section-bg {
    background-color: #eae8e5;
}
.jumbotron  {
    border: 1px solid #37343d;
    border-radius: 10px;
    background: rgba(234,232,229,0.3);
    width: 50%;
    
      
}
